# Auto detect text files and perform LF normalization
* text=auto

# Excluding the usage of abnormal languages ​​when using jupyter notebook
*.ipynb linguist-generated=true
*.bat linguist-generated=true
