# general
tqdm
h5py
psutil
numpy
pandas
PyYAML
torchinfo

# DL 
torch>=1.7.1
torchvision>=0.8.2

# visualization
seaborn
matplotlib

# ML
scikit-learn

# Bio
biopython>=1.78

# seqlogo
logomaker

# XAI
captum
